## This is what your .env.local file should like. You can simply copy this one to the name '.env.local'.

### You must provide these for Auth to work locally. Copy this file and rename it to .env.local
# AWS Configuration
AWS_ACCESS_KEY_ID=THE_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=THE_SECRET_ACCESS_KEY
S3_BUCKET=THE_BUCKET
AWS_REGION=THE_REGION
S3_BACKUP_PATH=THE_BACKUP_PATH

# credentials for generating presigned upload URLs for the browser - that is all that this user can do
S3_PUT_AWS_ACCESS_KEY_ID=THE_ACCESS_KEY_ID
S3_PUT_AWS_SECRET_ACCESS_KEY=THE_SECRET_ACCESS_KEY

# Email Configuration
EMAIL_TO=THE_EMAIL_TO

# Auth0 Configuration
AUTH0_CLIENT_ID=THE_CLIENT_ID
AUTH0_SECRET=THE_SECRET
AUTH0_DOMAIN=THE_DOMAIN
NEXTAUTH_SECRET=THE_SECRET

SECRET=THE_SECRET

# Monitoring Configuration
MONITOR_EMAIL=THE_EMAIL

# Readonly Mode - Set to 'true' to disable admin interface (for V2 cutover, runtime)
READONLY_MODE=false

# Also check the .env.development, .env.production, and .env.local-docker files for other variables.
# Generally you will not need to change anything in these files, but if you want to it is best
# to add them as overrides to the .env.local file rather than changing the core .env files.