# Dependencies
node_modules

# Next.js build output
.next

# SQLite temp files
gallformers.sqlite-wal
gallformers.sqlite-shm

# Environment files (secrets)
.env
.env.local
.env.production.local
prisma/.env

# Vercel
.vercel

# Logs
yarn-error.log

# Docker
gallformers-docker.tar

# Type coverage
.type-coverage
.coverage
tsconfig.tsbuildinfo

# Yarn 2+ (berry)
.yarn/**
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
