# OS files
.DS_Store

# Editor
.vscode

# Logs
log.log

# Spell check
cspell.json

# Claude Code settings
.claude/settings.local.json

# Generated tiles for maps
flyio/tileserver-gl/boundaries.mbtiles
